<!doctype html>
<head>
 <meta name="p:domain_verify" content="68d34f88c8790d4c5fc5022143453091"/>
  <meta name="facebook-domain-verification" content="lzkg5zz2jy4u5zyv2am8w9ipyuungb" />
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '278166990916184'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=278166990916184&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<html class="no-js{% if settings.box_layout %} is-boxed{% endif %}" lang="{{ shop.locale }}">
  <meta name="google-site-verification" content="mPWyOkui38P9GH5in568wtWofCGiAkzkn6Z2LpYtRGk" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  {%- if canonical_url != blank -%}
  <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="{{ settings.favicon | img_url: '152x152' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{- page_title -}}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &nbsp;&ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- unless page_title contains shop.name -%}
      &nbsp;&ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  
  {%- capture is_shopify_admin -%}{% include 'check-shopify-admin' %}{%- endcapture -%}

  {%- include 'social-meta-tags' -%}
  {%- include 'shopify-head-tag' -%}
  {%- include 'weketing-tracking' -%}
  {%- include 'ra-roarnotify-init' -%}
  
  {%- if settings.age_check_enable and is_shopify_admin == 'false' -%}
  <noscript>
    <meta http-equiv="refresh" content="1; url={{ settings.age_check_exit_link | default: 'https://google.com/' }}" />
  </noscript>
  {%- endif -%}
  
  {{ content_for_header }}


  {{ 'translation-lab-language-switcher-floating.css' | asset_url | stylesheet_tag }}
  
  {% if customer.tags contains 'PRO' %}
  	<script> 
      var customerPro = 1; 
    </script>
  {% else %}
   	<script> 
      var customerPro = 0; 
    </script>
  {% endif %}
  
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  {{ 'custom_silexia.css' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}
  {{ 'custom.js' | asset_url | script_tag }}
  
  <script>
  	var price_rules_url = {{ 'price_rules.json' | asset_url | json }}
    let req = new XMLHttpRequest();
    req.addEventListener('load', initPrice);
    req.responseType = 'json';
    req.open('GET', price_rules_url, true);
    req.send();
  </script>
  
  
  {% render 'translation-lab-language-management' %}
</head>
{%- assign default_rtl_support = settings.rtl_support -%}
{%- assign default_catalog_mode = settings.catalog_mode -%}
{%- if settings.roar_themedemo -%}
  {%- capture shop_demo -%}{% include 'querystring', name: 'type' %}{%- endcapture -%}
  {%- if shop_demo == 'catalog-mode' -%}{% assign default_catalog_mode = true %}{%- endif -%}
{%- endif -%}

{%- assign body_class = 'template-' | append: template.name -%}
{%- if template.suffix != blank -%}
  {%- assign body_class = body_class | append: ' ' | append: template.suffix -%}
{%- endif -%}
{%- if template.name == 'page' or template.name == 'cart' or template.name == 'list-collections' or template.name == 'collection' or template.name == 'product' or template.name == 'blog' or template.name == 'article' -%}
  {%- assign body_class = body_class | append: ' header-has-overlap' -%}
{%- endif -%}
{%- if default_rtl_support -%}
  {%- assign body_class = body_class | append: ' is-rtl' -%}
{%- endif -%}
{%- if default_catalog_mode -%}
  {%- assign body_class = body_class | append: ' is-catalog_mode' -%}
  {%- if settings.catalog_mode_price -%}
    {%- assign body_class = body_class | append: ' hide-price' -%}
  {%- endif -%}
{%- endif -%}
<body class="{{ body_class }}">
  <div id="site-loader"></div>
  <div id="site-container">
    <div id="site-content">
      {%- include 'global-symbols' -%}
      {%- include 'age-check' -%}
      {%- if settings.header_topbar -%}
        {%- section 'header-topbar' -%}
      {%- endif -%}
      {%- section 'header' -%}
      {%- section 'header-menu' -%}
      {%- if settings.header_sticky -%}
        {%- section 'header-sticky' -%}
      {%- endif -%}
      {%- section 'header-mobile' -%}

      <main role="main" class="site-main">
        {{ content_for_layout }}
        <div class="site-overlay"></div>
      </main>
    </div>
    <div id="site-footer"{% if settings.footer_reveal %} class="is-reveal"{% endif %}>
      {%- section 'footer' -%}
      {%- section 'copyright' -%}
    </div>
    <div class="progress-section"></div>
  </div>
  {%- include 'shop-elements' -%}
  
  {%- if is_shopify_admin == 'true' -%}
    {%- include 'theme-admin' -%}
  {%- endif -%}

{% include 'gtranslate', float: 'yes' %}



  {% render 'translation-lab-language-switcher-floating' %}
  
  

  {% capture notification %}{% render 'translation-lab-theme-editor-notification' %}{% endcapture %}{% unless notification contains "Liquid error" %}{{ notification }}{% endunless %}

<!-- **BEGIN** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_qab_main', product: product, customer: customer %}
    <!-- **END** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
</body>
</html>